ul#bookList li div {
	display: inline-block;
	width: 30%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	width: 40% !important;
	text-align: center;
}

ul {
	list-style-type: none;
}

ul#bookList li  {
		border: 1px solid black;
		padding: 20px;
}

@media screen and (min-width : 320px) and (max-width : 480px)  {
ul {
	width: 50%;
}
	
}

@media screen and (min-width : 480px) and (max-width : 1024px)  {
ul {
	width: 50%;
}
	
}

@media screen and (min-width : 1024px) {
ul {
	width: 50%;
}
	
}
